<!DOCTYPE html>
<html>
<head>
    <title>Task Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container pt-5 pb-5">
    <h1 class="text-center" style="font-size: 60px;">Task List</h1>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            {% for week in weeks %}
                <div class="row">
                    <h1 class="text-center">Week {{ week.task_week }}</h1>
                    {% for key,value in week.tasks %}
                        <div class="col-sm pt-4">
                            <h5>Developer {{ key }}</h5>
                            {% for tasks in value %}
                                <div class="pt-2" style="font-size: 14px;">
                                    {% for task in tasks %}
                                        {{ task }}<br>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <hr class="my-4">
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
